<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link href="Styles/GlobalStyles.css" rel="stylesheet" type="text/css" />
    <link href="#" rel="stylesheet" type="text/css" />
  </head>

  <body bgcolor="#d1c69b">
    <table class="bgColourPreset" bgcolor="#e9e7e7">
      <tbody>
        <tr>
          <th class="homeHeader" scope="col">
            <a href="Home.html"
              ><div class="headerDiv">Strays Meet Holland Awareness</div>
            </a>
          </th>
        </tr>
      </tbody>
    </table>
  </body>
</html>
